.main-bg {
    height: 400px;
    background-image: url('./img/banner.jpeg');
    background-size: cover;
    background-position: center;
}

.start {
    opacity: 0;
}
.end {
    opacity: 1;
    transition: opacity 3s;
}