.main-bg {
    height: 400px;
    background-size: cover;
    background-position: center;
}

.start {
    opacity: 0;
}
.end {
    opacity: 1;
    transition: opacity 3s;
}
.cart{
  width: 100%;
  margin: auto;
  padding: 30px;
}
.cart ul {
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 50px;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
  }
  
  .cart ul :hover {
    color: limegreen;
  }

  .far {
    margin-left: 10px;
  }
 .re {
  width: 130px;
  height: auto;
  background-color: bisque;
  position: fixed;
  top: 100px;
  right: 30px;
 }

 .bor{
  border-bottom: solid beige 2px;
 }